@using MVC.Models.ViewModels
@addTagHelper *, MVC
@model CategoriesViewModel

<div class="container">

@foreach (var category in Model.Categories)
{
    <vc:carousel category="@category" products="@Model.Products" page-size="@Model.PageSize"></vc:carousel>
}
</div>
