@addTagHelper *, MVC
@model List<Product>;
@{
    var products = Model;
    const int PageSize = 4;
    var categories = products.Select(p => p.Category).Distinct();
}

<div class="container">

@foreach (var category in categories)
{
    <h3>@category.Name</h3>

    <div id="carouselExampleIndicators-@category.Id" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            @{
                var productsInCategory = products
                    .Where(p => p.Category.Id == category.Id);
                int pageCount = (int)Math.Ceiling((double)productsInCategory.Count() / PageSize);

                for (int pageIndex = 0; pageIndex < pageCount; pageIndex++)
                {
                    <div class="carousel-item @(pageIndex == 0 ? "active" : "")">
                        <div class="container">
                            <div class="row">
                                @{
                                    var productsInPage =
                                        productsInCategory
                                        .Skip(pageIndex * PageSize)
                                        .Take(PageSize);

                                    foreach (var product in productsInPage)
                                    {
                                        <vc:product-card product="@product"></vc:product-card>
                                    }
                                }
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators-@category.Id" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators-@category.Id" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
}
</div>
