@using MVC.Areas.Basket.Model
@model CustomerBasket;

@{
    var items = Model;
}

<div class="card">
    <div class="card-body">
        <!--https://getbootstrap.com/docs/4.0/components/alerts/-->
        <div class="alert alert-warning" role="alert">
            There are no items in your basket yet! Click <a asp-area="catalog" asp-controller="home"><b>here</b></a> to start shopping!
        </div>
    </div>
</div>
