@addTagHelper *, MVC
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "My Basket";
    Layout = "/Views/Shared/_Layout.cshtml";
}

<partial name="_BasketControls" />

<h3>My Basket</h3>

<vc:basket-list is-summary="false"></vc:basket-list>

<br />

<partial name="_BasketControls" />



