@addTagHelper *, MVC

@using MVC.Areas.Registration.Models.ViewModels
@model RegistrationViewModel
@{
    ViewData["Title"] = "Checkout";
}
<h3>Order Has Been Placed!</h3>

<div class="panel-info">
    <p>Thank you very much, <b>@Model.Name</b>!</p>
    <p>Your order has been placed.</p>
    <p>Soon you will receive an e-mail at <b>@Model.Email</b> including all order details.</p>
    <p><a asp-area="catalog" asp-controller="home" asp-action="index" class="btn btn-success">Back to product catalog</a></p>
</div>

<h4>Summary</h4>

<vc:basket-list is-summary="true"></vc:basket-list>

