<div class="row">
    <div class="col-sm-12">
        <div class="pull-right">
            <a asp-area="catalog" asp-controller="home" asp-action="index" class="btn btn-success">
                Add More Products
            </a>
            <a asp-area="registration" asp-controller="registration" asp-action="index" class="btn btn-success">
                Fill in Registration
            </a>
        </div>
    </div>
</div>