@addTagHelper *, MVC

@{
    ViewData["Title"] = "My Basket";
}
@using MVC.Areas.Basket.Model;
@model CustomerBasket;

<partial name="_BasketControls" />

<h3>My Basket</h3>

<vc:basket-list is-summary="false" customer-basket="@Model"></vc:basket-list>

<br />

<partial name="_BasketControls" />

@section Scripts
    {
    <script src="~/js/basket.js"></script>
}
