@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model MVC.Models.Product;

@{
    var product = Model;
}

<div class="col-sm-3">
    <div class="card">
        <div class="card-body">
            <img class="d-block w-100" src="@(product.ImageURL)">
        </div>
        <div class="card-footer">
            <p class="card-text">@product.Name</p>
            <h5 class="card-title text-center">@product.Price.ToString("C")</h5>
            <div class="text-center">
                <a asp-area="basket" asp-controller="basket" asp-action="index" class="btn btn-success">
                    <span class="fa fa-shopping-cart"></span>
                    Add to basket
                </a>
            </div>
        </div>
    </div>
</div>